body{
  background-image: url(../img/Bill\ Spliter.png);
  background-repeat: no-repeat;
  height: 500px;
  width:100%;
  background-size: cover;
}

label {
  display: block;
  margin-bottom: 20px;
}


